Flask==1.1.2
Flask-SQLAlchemy==2.4.4
Flask-Cors==3.0.9
Flask-Restless-NG==1.0.0
Flask-Script==2.0.6
SQLAlchemy==1.3.19
SQLAlchemy-Utils==0.36.8
passlib==1.7.2
PyYAML==5.3.1
alembic==1.4.3
click==7.1.2
Flask-Migrate==2.5.3
itsdangerous==1.1.0
Jinja2==2.11.2
Mako==1.1.3
MarkupSafe==1.1.1
mimerender==0.6.0
python-dateutil==2.8.1
python-editor==1.0.4
python-mimeparse==1.6.0
six==1.15.0
Werkzeug==1.0.1
yml==0.0.1
git+https://github.com/andyferg/flask-restless-swagger.git@master
Flask-JWT-Extended==3.24.1
flask-restless-swagger-2 @ git+https://github.com/andyferg/flask-restless-swagger.git@c68f0a8b3db0147ea3193da39f49dbfa3901b275
PyJWT==1.7.1
pyodbc==4.0.30
requests==2.24.0
